<div class='landing-page-container'>
  <h2>MyTracker</h2>
  <p>Take your expense tracking to the level; Explore a method for accurately recording and organizing your spending across different categories using the My Tracker application.</p>
  <%= image_tag 'main-logo.png', alt: 'logo', class: 'main-logo' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
  <p>Already have an account? <a href='/users/sign_in'>Log in</a></p>
</div>
